:root {
    --glass: rgba(255, 255, 255, 0.15);
    --border: rgba(255, 255, 255, 0.2);
}

body {
    background: linear-gradient(45deg, #0f2027, #203a43, #2c5364); /* Deep professional blue */
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.glass-card {
    background: var(--glass);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid var(--border);
    border-radius: 25px;
    padding: 40px;
    width: 400px;
    color: white;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
    text-align: center;
}

.search-section {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

#citySearch {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid var(--border);
    padding: 12px;
    border-radius: 12px;
    color: white;
    width: 70%;
}

#btnSearch {
    background: #00d2ff;
    border: none;
    padding: 12px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#btnSearch:hover { background: #0095ff; transform: translateY(-2px); }

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid var(--border);
}

.result-hidden { display: none; }
.loader-hidden { display: none; }
